.container-header
    header
       a(href="#").home-page
            .home-border.animated.fadeInLeft.delay-2s
                .home-icon
                    img(src="img/home-icon.svg")
                .home-text
                    p Домашний экран
       .logo-block
            img(src="img/logo.png").animated.fadeInDown.delay-1s
       .more-info-block
            .more-info
                a(href="#").animated.fadeInRight.delay-3s
                    p Узнать больше об умном доме
