.container-header
    header
       a(href="index.html").home-page
            .home-border
                .home-icon
                    img(src="img/home-icon.svg")
                .home-text
                    p Домашний экран
       .logo-block
            img(src="img/logo.png")
       .more-info-block
            .more-info
                a(href="slider-video.html")
                    p Узнать больше об умном доме
