.container-main-home
    .main-home
        .main
            .in-house
                    h1(class="animated fadeIn delay-4s") Я дома
                    a(href="sayHello.html" class="animated fadeIn delay-5s").test-helper
                        .house-icon
                            img(src="img/house-icon.svg")
                        .house-text
                            p Протестировать
                                br
                                | голосового помощника
            .playAndLearn
                    h1(class="animated fadeIn delay-4s") Узнавать-играть
                    a(href="games.html" class="animated fadeIn delay-5s").go-play
                        .play-icon
                            svg(width='75' height='75' viewbox='0 0 75 75' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M61.7308 19.6156C65.2295 19.6156 68.077 16.7682 68.077 13.2695C68.077 9.77077 65.2295 6.92334 61.7308 6.92334C58.2321 6.92334 55.3846 9.77077 55.3846 13.2695C55.3846 16.7682 58.2321 19.6156 61.7308 19.6156ZM61.7308 10.3849C63.3218 10.3849 64.6154 11.6784 64.6154 13.2695C64.6154 14.8605 63.3218 16.1541 61.7308 16.1541C60.1398 16.1541 58.8462 14.8605 58.8462 13.2695C58.8462 11.6784 60.1398 10.3849 61.7308 10.3849Z' fill='white' class="svg-x")
                                   animate(attributeName="opacity" dur="5s" keyTimes="0;0.1;0.5;0.6;1" values="0;1;1;0;0" repeatCount="indefinite" )
                                path(d='M13.7503 57.7881C10.2516 57.7881 7.40417 60.6355 7.40417 64.1342C7.40417 67.633 10.2516 70.4804 13.7503 70.4804C17.2491 70.4804 20.0965 67.633 20.0965 64.1342C20.0965 60.6355 17.2491 57.7881 13.7503 57.7881ZM13.7503 67.0189C12.1593 67.0189 10.8657 65.7253 10.8657 64.1342C10.8657 62.5432 12.1593 61.2496 13.7503 61.2496C15.3414 61.2496 16.6349 62.5432 16.6349 64.1342C16.6349 65.7253 15.3414 67.0189 13.7503 67.0189Z' fill='white' class="svg-x" )
                                    animate(attributeName="opacity" dur="5s" keyTimes="0;0.1;0.5;0.6;1" values="0;1;1;0;0" repeatCount="indefinite" begin="2s")
                                path(d='M67.3771 58.5837C66.701 57.9076 65.6058 57.9076 64.9297 58.5837L61.8265 61.6869L58.7233 58.5837C58.0472 57.9076 56.9519 57.9076 56.2759 58.5837C55.5998 59.2598 55.5998 60.3551 56.2759 61.0311L59.3791 64.1344L56.2759 67.2376C55.5998 67.9136 55.5998 69.0089 56.2759 69.685C56.6139 70.023 57.0567 70.192 57.4996 70.192C57.9424 70.192 58.3852 70.023 58.7233 69.685L61.8265 66.5818L64.9297 69.685C65.2677 70.023 65.7106 70.192 66.1534 70.192C66.5962 70.192 67.0391 70.023 67.3771 69.685C68.0532 69.0089 68.0532 67.9136 67.3771 67.2376L64.2739 64.1344L67.3771 61.0311C68.0532 60.3551 68.0532 59.2598 67.3771 58.5837Z' fill='white' class="svg-x" )
                                    animate(attributeName="opacity" dur="5s" keyTimes="0;0.1;0.5;0.6;1" values="0;1;1;0;0" repeatCount="indefinite" begin="1s")
                                path(d='M40.2596 38.9425L43.3628 35.8392C44.0389 35.1632 44.0389 34.0679 43.3628 33.3918C42.6868 32.7157 41.5915 32.7157 40.9154 33.3918L37.8122 36.495L34.709 33.3918C34.0329 32.7157 32.9377 32.7157 32.2616 33.3918C31.5855 34.0679 31.5855 35.1632 32.2616 35.8392L35.3648 38.9425L32.2616 42.0457C31.5855 42.7218 31.5855 43.817 32.2616 44.4931C32.5996 44.8311 33.0425 45.0001 33.4853 45.0001C33.9281 45.0001 34.371 44.8311 34.709 44.4931L37.8122 41.3899L40.9154 44.4931C41.2535 44.8311 41.6963 45.0001 42.1391 45.0001C42.582 45.0001 43.0248 44.8311 43.3628 44.4931C44.0389 43.817 44.0389 42.7218 43.3628 42.0457L40.2596 38.9425Z' fill='white' id="x-2" class="svg-x")
                                    animate(attributeName="opacity" dur="5s" keyTimes="0;0.1;0.5;0.6;1" values="0;1;1;0;0" repeatCount="indefinite"  begin="3s")
                                rect(x='24' width='4' height='75' fill='white')
                                rect(x='47' width='4' height='75' fill='white')
                                rect(x='75' y='24' width='4' height='75' transform='rotate(90 75 24)' fill='white')
                                rect(x='75' y='50' width='4' height='75' transform='rotate(90 75 50)' fill='white')

                        .play-text
                            p Протестировать
                                br
                                | голосового помощника
        .speaker.animated.fadeInUp
            .pulse-css
            img(src="img/speaker.png")
            .pulse-css

