.container-main-sayHello.swiper-container
            .swiper-wrapper
                .main-sayHello.swiper-slide
                    main
                      .welcome
                            h1 Добро пожаловать
                                br
                                |в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                |Посмотрите, что произойдёт,
                                br
                                |когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
            .swiper-pagination