.container-main-sayHello.swiper-container
            .swiper-wrapper
                .main-sayHello.swiper-slide
                    main
                      .welcome
                            h1(class="main__item") Добро пожаловать
                                br
                                |в умный дом LG ThinQ
                            p(class="main__item") Оглядитесь вокруг.
                                br
                                |Посмотрите, что произойдёт,
                                br
                                |когда Вы поздороваетесь с колонкой
                            p.text-opacity.main__item Голосовая команда запустит
                                br
                                | несколько устройств
                      .image-massive
                          img(src="img/aircleaner.png" class="air main__item")
                          img(src="img/cleaner.png" class="cleaner main__item")
                          img(src="img/washer.png" class="washer main__item")
                          img(src="img/ball-1.png" class="ball-1 main__item")
                          img(src="img/ball-2.png" class="ball-2 main__item")
                          img(src="img/ball-4.png" class="ball-4 main__item")
                          img(src="img/ball-5.png" class="ball-5 main__item")
                          img(src="img/ball-6.png" class="ball-6 main__item")
                          img(src="img/ball-7.png" class="ball-7 main__item")
                          img(src="img/ball-8.png" class="ball-8 main__item")
                          img(src="img/ball-9.png" class="ball-9 main__item")
                          img(src="img/ball-10.png" class="ball-10 main__item")
                          img(src="img/ball-11.png" class="ball-11 main__item")
                          img(src="img/ball-12.png" class="ball-12 main__item")
                          img(src="img/ball-13.png" class="ball-13 main__item")
                          svg(width='679' height='679' viewbox='0 0 679 679' fill='none' xmlns='http://www.w3.org/2000/svg' class="circle")
                              circle(cx='339.5' cy='339.5' r='338.5' stroke='url(#paint0_linear)' stroke-width='2' stroke-dasharray='2 4' stroke-dashoffset='1000')
                              defs
                                  lineargradient#paint0_linear(x1='339.5' y1='0' x2='339.5' y2='679' gradientunits='userSpaceOnUse')
                                      stop(stop-color='#5726FF')
                                      stop(offset='1' stop-color='#9726FF')
                          img(src="img/home.svg" class="home-cleaner main__item")
                    .speaker
                        img(src="img/speaker.png")

                .main-sayHello.swiper-slide
                    main
                        .chat-block
                            .upper-text
                                p(class="text-top main__item-2") Оглядитесь вокруг.
                                    br
                                    | Посмотрите что произойдет,
                                    br
                                    | когда вы поздороваетесь с колонкой
                                p(class="opacity-text main__item-2") Голосовая команда запустит
                                    br
                                    | несколько устройств.
                                    br
                                    | Начнем с очистителя воздуха
                                    br
                                    | сзади вас
                            .say-something.main__item-2
                                h1 Скажите
                                .hello-alice
                                    p Алиса, я дома!
                            p(class="turn-on-message main__item-2") Очиститель воздуха включился
                            .button-to-approve.main__item-2
                                a(href='#' class="repeat") Попробуем
                                    br
                                    |еще раз
                                a(href='#' class="ready") Готово
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                    .speaker
                        img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block
                            .say-something.main__item-3
                                .hello-alice-opacity
                                    p Алиса, я дома!
                            .button-approved.main__item-3
                                a(href='#' class="ready-start") Готово
                            p(class="turn-on main__item-3") Очиститель воздуха
                                br
                                | включился
                            p(class="little-windy main__item-3") Немного освежимся
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                    .speaker
                        img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.main__item-4
                                a(href='#' class="ready-start button-opacity") Готово

                            p(class="little-windy main__item-4 padding-top-windy") Немного освежимся

                            p(class="turn-on-max main__item-4") Включите очиститель
                                br
                                | на максимум
                            .say-something.main__item-4
                                h1 Скажите
                                .hello-alice.maximum-power
                                    p Алиса, включи максимальную
                                        br
                                        |скорость очистителя воздуха
                            p(class="turn-on-message max-it main__item-4") Максимальная скорость включена
                            .button-to-approve.main__item-4
                                a(href='#' class="repeat") Попробуем
                                    br
                                    | еще раз
                                a(href='#' class="ready") Готово
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                    .speaker
                        img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.main__item-5
                                a(href='#' class="ready-start button-opacity") Готово
                            .say-something.main__item-5
                                .hello-alice-opacity.maximum-power
                                    p Алиса, включи максимальную
                                        br
                                        | скорость очистителя воздуха
                            p(class="auto-it main__item-5") Давайте переведем
                                br
                                |очиститель воздуха
                                br
                                |в авторежим
                            p(class="auto-end main__item-5 ") Пожалуй, достаточно
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                        .speaker
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.main__item-5
                                a(href='#' class="ready-start button-opacity") Готово

                            p(class="auto-enough main__item-6") Пожалуй, достаточно
                            p(class="auto-let-try main__item-6") Давайте переведем
                                br
                                | обдув в обычный режим
                            .say-something.main__item-6
                                h1 Скажите
                                .hello-alice.maximum-power
                                    p Давайте переведем очиститель
                                        br
                                        |воздуха в авторежим
                            p(class="auto-end main__item-6") Автоматическая скорость
                                br
                                |включена
                            .button-to-approve
                                a(href='#' class="repeat") Попробуем
                                    br
                                    | еще раз
                                a(href='#' class="ready") Готово
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                        .speaker
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.main__item-5
                                a(href='#' class="ready-start button-opacity") Готово
                            .say-something
                                .hello-alice-opacity.maximum-power
                                    p Алиса, включи автоматическую
                                        br
                                        | скорость очистителя воздуха
                            p(class="auto-end-opacity main__item-7") Автоматическая скорость
                                br
                                | включена
                            p(class="auto-end main__item-7") Пришло время прибраться
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                        .speaker
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.main__item-5
                                a(href='#' class="ready-start button-opacity") Готово
                            p(class="auto-end-washing main__item-8") Пришло время прибраться

                            p(class="auto-end-cleaning main__item-8") Давайте запустим пылесос
                                br
                                | у входа и одну из стиральных
                                br
                                | машин слева от вас
                            .say-something
                                h1 Скажите
                                .hello-alice.washing
                                    p Алиса, помоги с уборкой
                            p(class="auto-end-cl main__item-8") Робот-пылесос и стиральная
                                br
                                | машина запустились
                            .button-to-approve
                                a(href='#' class="repeat") Попробуем
                                    br
                                    | еще раз
                                a(href='#' class="ready") Готово
                        .aircleaner-low
                            img(src="img/washing&cleaning.png")
                        .speaker
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.main__item-5
                                a(href='#' class="ready-start button-opacity") Готово
                            .say-something
                                .hello-alice-opacity.washing
                                    p Алиса, помоги с уборкой
                            p(class="auto-end-opacity main__item-9") Робот-пылесос и стиральная
                                br
                                | машина запустились
                            p(class="auto-end main__item-9") Давайте сыграем
                        .aircleaner-low
                            img(src="img/washing&cleaning.png")
                        .speaker
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.slide-11.main__item-5
                                a(href='#' class="ready-start button-opacity" data-aos="fade-in") Готово
                            p(class="auto-end-padding main__item-10") Давайте сыграем,
                                br
                                | пока дом убирается
                            .say-something.padding-fix.main__item-10
                                h1 Скажите
                                .hello-alice.washing
                                    p Алиса, сыграем в Города
                            p(class="auto-end-say main__item-10") Чтобы закончить играть,
                            .say-something.padding-fix.main__item-10-1
                                h1 Скажите
                                .hello-alice
                                    p Алиса, хватит
                            p(class="auto-end-slide-11 main__item-10") Найдем кафе
                            .button-to-approve.padding-bottom.main__item-10
                                a(href='#' class="repeat") Попробуем
                                    br
                                    | еще раз
                                a(href='#' class="ready") Дальше
                        .aircleaner-low
                            img(src="img/family.png")
                        .speaker
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.slide-12.main__item-5
                                a(href='#' class="ready-start button-opacity") Дальше
                            p(class="auto-end-padding main__item-10") Вы проголодались?
                            .say-something.padding-fix
                                h1 Скажите
                                .hello-alice.maximum-power
                                    p Алиса, найди кафе рядом
                            p(class="auto-end main__item-11") Кафе найдено
                            .button-to-approve.slide-12.main__item-11
                                a(href='#' class="repeat") Попробуем
                                    br
                                    | еще раз
                                a(href='#' class="ready") Готово
                        .aircleaner-low
                            img(src="img/cafe.png")
                        .speaker
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power.main-alice-icon
                            .say-something.padding-fix.main__item-12
                                .hello-alice-opacity.maximum-power
                                    p Алиса, найди рядом кафе «Волконский»
                            p(class="auto-end-say main__item-12") Кафе найдено
                            p(class="auto-end main__item-12") Узнать дорожную
                                br
                                | обстановку
                        .icon-block
                            img(src="img/alica-icon.png")
                        .speaker
                            img(src="img/speaker.png")
                        .approve-icon.main__item-12
                            .icon-block-app
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.slide-12.main__item-5
                                a(href='#' class="ready-start button-opacity") Готово
                            p(class="auto-end-padding main__item-13") Вы уже уходите? Узнайте, сколько
                                br
                                | ехать до места назначения.
                            .say-something.padding-fix.main__item-13
                                h1 Скажите
                                .hello-alice.maximum-power
                                    p Алиса, какая ситуация на дорогах?
                            p(class="auto-end main__item-13") Время поездки рассчитано
                            .button-to-approve.slide-12.main__item-13
                                a(href='#' class="repeat") Попробуем
                                    br
                                    | еще раз
                                a(href='#' class="ready") Готово
                        .aircleaner-low
                            img(src="img/city.png")
                        .speaker.animated
                            img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power.main-alice-icon
                            .say-something.padding-fix.main__item-14
                                .hello-alice-opacity.maximum-power
                                    p Алиса, какая ситуация на дорогах?
                            p(class="auto-end-say main__item-14") Оценена ситуация на дорогах
                            p(class="auto-end main__item-14") Попрощаться
                        .icon-block-map
                            img(src="img/point.png")
                        .speaker
                            img(src="img/speaker.png")
                        .approve-icon
                            .icon-block-app.main__item-14
                .main-sayHello.swiper-slide
                    main
                        .chat-block.max-power
                            .button-approved.slide-15.main__item-5
                                a(href='#' class="ready-start button-opacity") Готово
                            p(class="auto-end-padding main__item-15") Не забудьте попрощаться
                                br
                                | с умной колонкой
                            .say-something.padding-fix
                                h1 Скажите
                                .hello-alice
                                    p Алиса, пока!
                            p(class="auto-end main__item-15") Выключение
                        .aircleaner-low
                            img(src="img/all.png")
                        .speaker.animated
                            img(src="img/speaker.png")

            .swiper-pagination