.container-main-sayHello.swiper-container
            .swiper-wrapper
                .main-sayHello.swiper-slide
                    main
                      .welcome
                            h1(class="animated fadeIn delay-1s") Добро пожаловать
                                br
                                |в умный дом LG ThinQ
                            p(class="animated fadeIn delay-2s") Оглядитесь вокруг.
                                br
                                |Посмотрите, что произойдёт,
                                br
                                |когда Вы поздороваетесь с колонкой
                            p.text-opacity.animated.fadeIn Голосовая команда запустит
                                br
                                | несколько устройств
                      .image-massive
                          img(src="img/aircleaner.png" class="air animated fadeIn")
                          img(src="img/cleaner.png" class="cleaner animated fadeIn")
                          img(src="img/washer.png" class="washer animated fadeIn")
                          img(src="img/ball-1.png" class="ball-1 animated fadeIn")
                          img(src="img/ball-2.png" class="ball-2 animated fadeIn")
                          img(src="img/ball-4.png" class="ball-4 animated fadeIn")
                          img(src="img/ball-5.png" class="ball-5 animated fadeIn")
                          img(src="img/ball-6.png" class="ball-6 animated fadeIn")
                          img(src="img/ball-7.png" class="ball-7 animated fadeIn")
                          img(src="img/ball-8.png" class="ball-8 animated fadeIn")
                          img(src="img/ball-9.png" class="ball-9 animated fadeIn")
                          img(src="img/ball-10.png" class="ball-10 animated fadeIn")
                          img(src="img/ball-11.png" class="ball-11 animated fadeIn")
                          img(src="img/ball-12.png" class="ball-12 animated fadeIn")
                          img(src="img/ball-13.png" class="ball-13 animated fadeIn")
                          svg(width='679' height='679' viewbox='0 0 679 679' fill='none' xmlns='http://www.w3.org/2000/svg' class="circle"  )
                              circle(cx='339.5' cy='339.5' r='338.5' stroke='url(#paint0_linear)' stroke-width='2' stroke-dasharray='2 4' stroke-dashoffset="1000" class="svg-elem-1")
                              defs
                                  lineargradient#paint0_linear(x1='339.5' y1='0' x2='339.5' y2='679' gradientunits='userSpaceOnUse')
                                      stop(stop-color='#5726FF')
                                      stop(offset='1' stop-color='#9726FF')
                          img(src="img/home.svg" class="home-cleaner animated fadeIn delay-1s")
                    .speaker.animated.fadeInUp
                        img(src="img/speaker.png")

                .main-sayHello.swiper-slide
                    main
                        .chat-block
                            .upper-text
                                p(class="text-top") Оглядитесь вокруг.
                                    br
                                    | Посмотрите что произойдет,
                                    br
                                    | когда вы поздороваетесь с колонкой
                                p(class="opacity-text animated fadeInLeft") Голосовая команда запустит
                                    br
                                    | несколько устройств.
                                    br
                                    | Начнем с очистителя воздуха
                                    br
                                    | сзади вас
                            .say-something
                                h1(class=" animated fadeInLeft delay-2s") Скажите
                                .hello-alice.animated.fadeInLeft
                                    p Алиса, я дома!
                            p(class="turn-on-message animated slideInLeft") Очиститель воздуха включился
                            .button-to-approve
                                a(href='#' class="repeat animated fadeInLeft") Попробуем
                                    br
                                    |еще раз
                                a(href='#' class="ready animated fadeInRight") Готово
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                    .speaker.animated.fadeInUp
                        img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .chat-block
                            .say-something
                                .hello-alice-opacity
                                    p Алиса, я дома!
                            .button-approved
                                a(href='#' class="ready-start animated fadeInRight") Готово
                            p(class="turn-on animated fadeInLeft") Очиститель воздуха
                                br
                                | включился
                            p(class="little-windy") Немного освежимся
                        .aircleaner-low
                            img(src="img/bgimage-2.png")
                    .speaker.animated.fadeInUp
                        img(src="img/speaker.png")
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
                .main-sayHello.swiper-slide
                    main
                        .welcome
                            h1 Добро пожаловать
                                br
                                | в умный дом LG ThinQ
                            p Оглядитесь вокруг.
                                br
                                | Посмотрите, что произойдёт,
                                br
                                | когда Вы поздороваетесь с колонкой
                            p.text-opacity Голосовая команда запустит
                                br
                                | несколько устройств
            .swiper-pagination