.container-slider.swiper-container
    .swiper-wrapper
        .swiper-slide.slide-video
            iframe(class="vid" id="yt" width='560' height='315' src='https://www.youtube.com/embed/6AiSmZx0Q5g' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            #content-1
                p Easy Control
                center
                    button(class="btn-1")
                        img(src="img/play.png")
                        p Смотреть видео
        .swiper-slide.slide-video
            iframe(class="vid" id="yt-2" width='560' height='315' src='https://www.youtube.com/embed/R68MsKy9AAI' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            #content-2
                p Easy Control
                center
                    button(class="btn-2")
                        img(src="img/play.png")
                        p Смотреть видео
        .swiper-slide.slide-video
            iframe(class="vid" id="yt-3" width='560' height='315' src='https://www.youtube.com/embed/E6tslo34dYQ' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            #content-3
                p Easy Control
                center
                    button(class="btn-3")
                        img(src="img/play.png")
                        p Смотреть видео
        .swiper-slide.slide-video
            iframe(class="vid" id="yt-4" width='560' height='315' src='https://www.youtube.com/embed/CMINnUCSlPY' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            #content-4
                p Easy Control
                center
                    button(class="btn-4")
                        img(src="img/play.png")
                        p Смотреть видео
    .arrow-left
    .arrow-right
    .speaker
        img(src="img/speaker.png")