doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Kia
		link(rel="stylesheet" href="css/styles.css")
		link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	body
		.container
			include ../modules/header
			include ../modules/games-main

		script(src="scripts/games.js")